.grid, #piggy>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid>*, #piggy>ul>* {
    flex: 0 1 30%;
}

.buff-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buff-flex > * {
    flex: 0 0 22%;
}

li {
    list-style: none;
    border: 1px solid rgba(0,0,0,.125);
    border-radius:3px;
    margin: 1em;
    padding: 1em;
}