.grid, #piggy>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.buff-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buff-flex > * {
    flex: 0 0 23%;
}